/* Import Bulma CSS */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";

/* Add this CSS to your stylesheet */
/* CustomContainer.css */
.custom-container {
    padding-left: 1rem;
    padding-right: 1rem;
}
  
@media screen and (max-width: 768px) {
    .custom-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.custom-link a {
    color: #FFD700; /* Gold color for contrast, adjust as needed */
}

.timer-container {
    margin-top: 10px;
    height: 5px;
    background-color: rgb(240, 240, 240); /* Lighter shade for the background */
    /* border-radius: 5px; */
    overflow: hidden; /* Ensures the inner div's rounded corners are visible */
}

.timer-progress {
    transition: width 0.5s ease-out; /* Smooth transition for width change */
    height: 5px;
    background-color: rgb(255, 71, 111); /* A more soothing green */
}